<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SincoExcel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="SincoExcel.Properties.SetttingSincoExcel" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    
  </appSettings>
  <applicationSettings>
    <SincoExcel.Properties.Settings>
      <setting name="MsGuardarCambiosCompleto" serializeAs="String">
        <value>Cambios Guardados correctamente.</value>
      </setting>
      <setting name="MsErrorCargarArchivoLicencia" serializeAs="String">
        <value>No se cargó correctamente el archivo de licencia.</value>
      </setting>
      <setting name="MsErrorCambiarColorConfiguracion" serializeAs="String">
        <value>No se actualizó el valor del nuevo color.</value>
      </setting>
      <setting name="MsErrorIniciarArchivoLicencia" serializeAs="String">
        <value>No se cargaron correctamente los datos de su licencia, consulte al administrador del sistema.</value>
      </setting>
      <setting name="MsErrorDatosLoginUsuario" serializeAs="String">
        <value>Datos incorrectos, Verifique la contraseña o consulte con el administrador del sistema.</value>
      </setting>
      <setting name="MsCompletarDatosRequeridosLogin" serializeAs="String">
        <value>Por favor complete todos los campos.</value>
      </setting>
      <setting name="MsErrorCargarListaSucursalesLogin" serializeAs="String">
        <value>No se cargó la lista de sucursales del usuario, verifique que su archivo de licencia sea válido y que tenga conexión con SINCO ERP.</value>
      </setting>
      <setting name="MsErrorCreacionControl" serializeAs="String">
        <value>No se creó el control, verifique que esté ubicado en una celda Válida.</value>
      </setting>
      <setting name="MsPreguntaAgregarFuenteExterna" serializeAs="String">
        <value>Desea agregar la nueva Fuente externa?</value>
      </setting>
      <setting name="MsErrorModificarCeldaFuenteExterna" serializeAs="String">
        <value>El valor de la celda para la fuente externa no fué modificado.</value>
      </setting>
      <setting name="MsPreguntaEliminarFueneExterna" serializeAs="String">
        <value>Esta seguro que desea eliminar la fuente externa?</value>
      </setting>
      <setting name="MsErrorEliminarFuenteExterna" serializeAs="String">
        <value>No se Eliminó la Fuente Externa, verifique que no este asociado previamente a un descriptor.</value>
      </setting>
      <setting name="MsSeleccionarFuenteExterna" serializeAs="String">
        <value>Seleccione una fuente externa por favor.</value>
      </setting>
      <setting name="MsPreguntaConfirmarActualizarDescriptor" serializeAs="String">
        <value>El descriptor ya está registrado, desea actualizarlo?</value>
      </setting>
      <setting name="MsErrorAgregarDescriptor" serializeAs="String">
        <value>No se agregó el descriptor. Verifique que tenga seleccionada una categoria válida</value>
      </setting>
      <setting name="MsCompletarDatosRequeridosDescriptor" serializeAs="String">
        <value>Por favor complete todos los campos.</value>
      </setting>
      <setting name="MsErrorEliminarFilaExcel" serializeAs="String">
        <value>No se puede eliminar la fila seleccionada por que tiene descriptores asociados.</value>
      </setting>
      <setting name="MsErrorEliminarColumnaExcel" serializeAs="String">
        <value>No se puede eliminar la Columna seleccionada por que tiene descriptores asociados.</value>
      </setting>
      <setting name="MsErrorOpcionesDiseñoExcel" serializeAs="String">
        <value>No se completó la operación.</value>
      </setting>
      <setting name="MsPreguntaEliminarDescriptorTabla" serializeAs="String">
        <value>Desea eliminar el descriptor de la tabla?</value>
      </setting>
      <setting name="MSCambiarNombreTablaDuplicado" serializeAs="String">
        <value>Ya existe una tabla llamada: {0}   .  No puede crear dos tablas con el mismo nombre, por favor cambie el nombre de la tabla.</value>
      </setting>
      <setting name="MsErrorPlantillaNoValida" serializeAs="String">
        <value>La hoja actual no esta asociada a una plantilla, por favor abra una plantilla válida.</value>
      </setting>
      <setting name="MsCompletarInformacionRequeridaCreacionTabla"
        serializeAs="String">
        <value>Los campos: Nombre de Tabla y número de Filas son Obligatorios.  Verifique que haya añadido columnas a la tabla.</value>
      </setting>
      <setting name="MsInformacionDescriptorPrincipalRegistrado" serializeAs="String">
        <value>Ya existe un descriptor principal en el formato.  Recuerde que solo debe crear un descriptor principal por formato.</value>
      </setting>
      <setting name="MsEliminarControl" serializeAs="String">
        <value>Desea eliminar el control?</value>
      </setting>
      <setting name="MsEliminarControlTabla" serializeAs="String">
        <value>El control pertenece a una tabla de datos, desea eliminar la tabla?</value>
      </setting>
      <setting name="MsErrorEliminarControl" serializeAs="String">
        <value>El elemento: {0}  no se eliminó.</value>
      </setting>
      <setting name="MsControlesTablaEliminadosCorrectamente" serializeAs="String">
        <value>Los elementos de la tabla fueron eliminados correctamente.</value>
      </setting>
      <setting name="MsErrorEliminarControlesTabla" serializeAs="String">
        <value>Algunos elementos de la tabla no se eliminaron.</value>
      </setting>
      <setting name="MsConfirmarEliminarDescriptor" serializeAs="String">
        <value>Desea eliminar el elemento:  {0} ?</value>
      </setting>
      <setting name="MsErrorEliminarDescriptor" serializeAs="String">
        <value>No se eliminó el elemento, verifique que sea un descriptor válido.</value>
      </setting>
      <setting name="MsRequeridoAgregarDescriptor" serializeAs="String">
        <value>Los campos categoria y descriptor son obligatorios.</value>
      </setting>
      <setting name="MsErrorActualizarArbolCategorias" serializeAs="String">
        <value>No se actualizó la información del arbol de categorias.</value>
      </setting>
      <setting name="MsErrorEditarRegistroFuenteExterna" serializeAs="String">
        <value>No puede editar la fila seleccionada.</value>
      </setting>
      <setting name="MsPreguntaCargarFormatoExistente" serializeAs="String">
        <value>El formato tiene asociado un archivo, desea cargarlo?</value>
      </setting>
      <setting name="MsErrorCargarArchivo" serializeAs="String">
        <value>Ocurrió un error al cargar el archivo. Verifique que el archivo esté correctamente creado. </value>
      </setting>
      <setting name="MsErrorVerificarConfiguracionISO" serializeAs="String">
        <value>Verifique la tabla de configuración de SGC.</value>
      </setting>
      <setting name="MsErrorCargarControlesTipologia" serializeAs="String">
        <value>Algunos elementos no se crearon correctamente.</value>
      </setting>
      <setting name="MsPlantillaCreadaCorrectamente" serializeAs="String">
        <value>Plantilla de Formato Creada Correctamente.</value>
      </setting>
      <setting name="MsErrorCargarPlantilla" serializeAs="String">
        <value>No se cargó correctamente la plantila.</value>
      </setting>
      <setting name="MsCerrarFormatoAbierto" serializeAs="String">
        <value>Existe un formato abierto, por favor cierre el formato. </value>
      </setting>
      <setting name="MsSeleccionarFormato" serializeAs="String">
        <value>Por favor seleccione un formato.</value>
      </setting>
      <setting name="MsResultadoValidacionesOK" serializeAs="String">
        <value>Las validaciones son correctas.</value>
      </setting>
      <setting name="MsConfigurarRutaTemporal" serializeAs="String">
        <value>Por favor, configure una carpeta temporal para el complemento Sinco ERP.</value>
      </setting>
      <setting name="MsSesionCerrada" serializeAs="String">
        <value>Su sesión ha expirado.  Desea iniciar nuevamente una sesión?</value>
      </setting>
      <setting name="MsGuardarPlantilla" serializeAs="String">
        <value>Desea guardar la plantilla actual?</value>
      </setting>
      <setting name="MsErrorGuardarFormato" serializeAs="String">
        <value>El formato no se registró correctamente.</value>
      </setting>
      <setting name="MsErrorCargarControl" serializeAs="String">
        <value>Error al intentar cargar los controles creados, por favor vuelva a abrir el formato.</value>
      </setting>
      <setting name="MsPreguntaGuardarFormatoDiligenciado" serializeAs="String">
        <value>Desea guardar el formato diligenciado actual?</value>
      </setting>
      <setting name="MsVolvarCargarFormato" serializeAs="String">
        <value>Desea volver a cargar el formato?</value>
      </setting>
      <setting name="MsCerrarFormato" serializeAs="String">
        <value>Desea cerrar el Formato actual?</value>
      </setting>
      <setting name="MsErrorFormatoTextoIngresado" serializeAs="String">
        <value>El texto ingresado no es correcto.  Tipo de Dato:  {0}</value>
      </setting>
      <setting name="MsErrorDescriptoresFaltantes" serializeAs="String">
        <value>Faltan los siguientes descriptores obligatorios o su contenido no es correcto: </value>
      </setting>
      <setting name="MsGuardarFormatoCorrecto" serializeAs="String">
        <value>El Formato se guardó correctamente.</value>
      </setting>
      <setting name="MsErrorCargarInformacionInicial" serializeAs="String">
        <value>No se actualizó la información.</value>
      </setting>
      <setting name="MsErrorCrearTabla" serializeAs="String">
        <value>No se creó el control Tabla de Datos.</value>
      </setting>
      <setting name="MsErrorEliminarDescriptorSGD" serializeAs="String">
        <value>No fue posible eliminar el descriptor, es posible que se encuentre en uso en la aplicación.</value>
      </setting>
      <setting name="MsErrorAgregarDescriptorTabla" serializeAs="String">
        <value>El descriptor seleccionado ya se encuentra registrado en la tabla.</value>
      </setting>
      <setting name="MsGuardarFormatoOpcionGuardar" serializeAs="String">
        <value>Tiene un formato asociado al sistema de Gestión de Calidad abierto, recuerde que si desea guardarlo debe utilizar la opción Guardar del Menu de Sinco ERP.</value>
      </setting>
    </SincoExcel.Properties.Settings>
    <SincoExcel.Properties.SetttingSincoExcel>
      <setting name="MsGuardarCambiosCompleto" serializeAs="String">
        <value>Cambios Guardados correctamente.</value>
      </setting>
    </SincoExcel.Properties.SetttingSincoExcel>
  </applicationSettings>
</configuration>
